/* ----------------------------------------------------------------- */
/* -------------------------- General ------------------------------ */
/* ----------------------------------------------------------------- */
@font-face {
  font-family: Moon-Bold;
  src: url(Moon2.0-Bold.otf)
}

@font-face {
    font-family: Moon;
    src: url(Moon2.0-Regular.otf);
}

@font-face {
    font-family: Archia;
    src:url(Archia-regular.otf);
}

body {
  font-family:Archia, sans-serif;
  background-color: #eee;
  text-transform: uppercase;
  background-color: white;
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/*--------------------------- Navbar -------------------------------*/
/* ----------------------------------------------------------------- */
.bg-light{
    background-color: white !important;
}
.navbar-brand img{
    margin-right: 10%;
    max-height: 30px;
    max-width: 30px;
}

.nav-item{
    font-family: Archia;
    font-weight: bold;
    font-size: 14px;
}

/*---- Banner ----*/
.banner{
   background: rgba(32,26,162,.12549) !important;
    color: rgba(32,26,162,.866667) !important;
    text-transform: none;   
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    border: none;
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/*------------------------------- Trends ---------------------------*/
/* ----------------------------------------------------------------- */
.trends{
    border: 1.5px groove rgba(0, 0, 0, 0.116);
    padding: 2% 3% 2% 3%;
}
.trends h4{
    font-weight: bold;
}

.trends a{
    font-size: 13px;
}

.nav-item{
    margin-right: 1%;
}
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* ------------------------------ Charts ---------------------------- */
/* ----------------------------------------------------------------- */

#pills-cummulative {
    background-color: rgba(226, 72, 72, 0.13);
    padding: 2% 1% 0% 1%;
}
#pills-cummulative h6{
    color: red;
    font-weight: 700;
    margin-left: 1%;
    margin-bottom: 0;
}
#pills-cummulative h7{
    color: red;
    font-weight: 200;
    margin-left: 1%;
}
.ct-label {
    font-size: 10px;
}

.ct-line{
    stroke-width: 2px;
}
.ct-point{
    stroke-width: 5px;
}
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */